<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Taxi-d4m | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheets %}
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="{{ asset('bundles/main/bootstrap/css/bootstrap.min.css')}}">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('bundles/main/font-awesome/css/font-awesome.min.css')}}">

        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('bundles/main/ionicons/ionicons.min.css')}}">

        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('bundles/main/dist/css/AdminLTE.min.css')}}">

        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('bundles/main/plugins/iCheck/square/blue.css')}}">
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="{ { asset('bundles/main/html5shiv/html5shiv.min.js')}}"></script>-->
    <!--<script src="{ { asset('bundles/main/respond/respond.min.js')}}"></script>-->
    <![endif]-->
</head>
<body class="hold-transition login-page">

{% block contenido %}

{% endblock %}

{% block javascripts %}
    <!-- jQuery 2.1.4 -->
    <script src="{{ asset('bundles/main/plugins/jQuery/jQuery-2.1.4.min.js')}}"></script>

    <!-- Bootstrap 3.3.5 -->
    <script src="{{ asset('bundles/main/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- iCheck -->
    <script src="{{ asset('bundles/main/plugins/iCheck/icheck.min.js')}}"></script>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}

</body>
</html>
