{% extends "MainBundle::template.html.twig" %}

{% block contenido %}

    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Taxi</b>D4M</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Inicia sesión</p>

            {% if error %}
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-fw fa-close"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Error</span>
                        <span class="info-box-number">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                  <span class="progress-description">
                    -
                  </span>
                    </div><!-- /.info-box-content -->
                </div>
            {% endif %}

            <form action="{{ path('main_security_login_check') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Username"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Recordar
                            </label>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Log in</button>
                    </div><!-- /.col -->
                </div>
            </form>

            {#<div class="social-auth-links text-center">#}
            {#<p>- OR -</p>#}
            {#<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>#}
            {#<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>#}
            {#</div><!-- /.social-auth-links -->#}

            {#<a href="#">I forgot my password</a><br>#}
            {#<a href="register.html" class="text-center">Register a new membership</a>#}

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->








{% endblock %}


{#{% extends "MainBundle::template.html.twig" %}#}
{#{% block contenido %}#}
    {#{% if error %}#}
        {#<div style="color:white">{{ error.message }}</div>#}
    {#{% endif %}#}

    {#<div class="login-panel panel panel-default">#}
        {#<div class="panel-heading">#}
            {#Web de Consulta#}
        {#</div>#}
        {#<div class="panel-body">#}
            {#<form action="{{ path("overall_ssri_consultaB_security_login_check") }}" method="post" role="form">#}
                {#<fieldset>#}
                    {#<input type="hidden" name="_csrf_token"#}
                           {#value="{{ csrf_token('authenticate') }}"#}
                            {#>#}
                    {#<div class="form-group">#}
                        {#&#123;&#35;                    <label for="username">{{ 'security.login.username'|trans }}</label>&#35;&#125;#}
                        {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"#}
                               {#placeholder="Usuario" autofocus/>#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#&#123;&#35;<label for="password">{{ 'security.login.password'|trans }}</label>&#35;&#125;#}
                        {#<input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Contraseña"#}
                               {#class="form-control"/>#}
                    {#</div>#}
                    {#<div class="checkbox">#}
                        {#<label>#}
                            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>Recordar sesión#}
                        {#</label>#}
                    {#</div>#}
                    {#<input type="submit" id="_submit" name="_submit" value="Ingresar" class="btn btn-lg btn-success btn-block"/>#}
                {#</fieldset>#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}












